/* Blogs Section Style */
.blogs{
    &__card{
        @include desktop{
            margin-bottom: toRem(30)
        }
        &__image{
            @extend %transition;
        }
        &__head__link{
            &:hover,
            &:focus{
                .blogs__card__image{
                    opacity: 0.8;
                }
            }
        }
        &__time{
            left: 0;
            bottom: 10%;
            transform: translateX(-10%);
            color: $color-white;
            background-color: $color-secondary;
            font-size: toRem(14);
            font-weight: 600;
            font-family: $font-secondary;
            padding: 0.5rem 1rem;
        }
        &__body{
            padding: 1rem 0.1rem;
        }
        &__title{
            font-size: toRem(26);
            font-weight: 600;
            @include mobile-to-desktop{
                font-size: toRem(22);
            }
            &__link{
                @extend %transition;
                &:hover,
                &:focus{
                    color: $color-primary;
                }
            }
        }
        &__text{
            color: $color-gray-deep;
            &::after{
                content: "...";
            }
        }
        .primary-btn{
            @include mobile-to-desktop{
                font-size: toRem(14);
            }
        }
    }
    &__details{
        &__meta{
            .meta{
                &__text{
                    font-weight: 500;
                    font-family: $font-secondary;
                    
                }
                &__icon{
                    color: $color-primary;
                }
                &__authore{
                    @extend %transition;
                    &:hover,
                    &:focus{
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }
            }
        }
        &__title{
            font-weight: 700;
            @include mobile{
                font-size: toRem(28);
            }
        }
        &__text{
            color: $color-gray-deep;
        }
        &__blockquote{
            color: $color-white;
            background-color: $color-secondary;
            border-left: 7px solid $color-primary;
            padding: 2rem;
            @include min-tablet{
                padding: 2rem 3rem;
            }
            &__text{
                font-weight: 600;
                font-family: $font-secondary;
            }
        }
        &__navigation{
            border-top: 1px solid $color-gray;
            border-bottom: 1px solid $color-gray;
        }
    }
    &__aside{
        &__card{
            background-color: lighten($color-gray, $amount: 8);
            &__head{
                color: $color-white;
                background-color: $color-secondary;
            }
            &__body{
                padding: 0.5rem 3rem;
                gap: 0.5rem;
            }
            &__list__item{
                padding: 0.8rem 0;
                &:not(:last-child){
                    border-bottom: 1px solid $color-gray;
                }
            }
            &__link{
                font-size: 1.05rem;
                font-weight: 600;
                font-family: $font-secondary;
                @extend %transition;
                @include mobile{
                    font-size: toRem(14);
                }
                &:hover,
                &:focus{
                    color: $color-primary;
                    text-decoration: underline;
                }
            }
        }
    }
}