// SCSS Variable's
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Work Sans', sans-serif;
$color-primary: #d4af37;
$color-secondary: #252525;
$color-danger: #e92a2a;
$color-gray: #dddddd;
$color-gray-deep: #8f9093;
$color-black: #000000;
$color-bg: #f7f7f7;
$color-footer: #f2f2f2;
$color-white: #ffffff;
$radius: 8px;